@font-face {
    font-family: 'Oswald';
    src: url(../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Oswald';
}
header {
    padding: 53px 110px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.catLogo {
    height: 59px;
    width: auto;
}
.catEnergyLogo {
    height: 21px;
    width: auto;
}
.burger {
    display: none;
    flex-direction: column;
    gap: 8px;
}
.burger__line {
    width: 24px;
    height: 1px;
    background-color: #000;
}
nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    color: #FFF;
}
.active {
    border-bottom: 2px solid #FFF;
}

#nutrition {
    position: relative  ;
    width: 100%;
    display: flex;
}
.nutrition__container {
    margin-top: 223px;
    padding-left: 190px;
    width: 50%;
}
.background__image { 
    width: 50%;
    height: auto;
}
.nutrition__image {
    position: absolute;
    top: 143px;
    left: calc(50% - 162px);
}
h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.5px;
}
#nutrition h2{
    max-width: 414px;
}
.nutrition__container p {
    padding-top: 40px;
    padding-bottom: 52px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
}
.nutrition__container button {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    padding: 14px 26px;
    background-color: #68B738;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 110px;
    background-color: #F2F2F2;
}
.footer__line {
    display: none;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin: 20px 0;
}

footer .social__networks{
    display: flex;
    align-items: center;
    gap: 27px;
}
footer .academy__logo {
    display: flex;
    align-items: center;
    gap: 22px;
}
.advices { 
    display: flex;
    justify-content: space-between;
    margin: 82px 110px 71px 110px;
}
.advice {
    padding: 41px 52px 55px 52px;
    width: 570px; 
    display: flex;
    background-color: #F2F2F2;
}
.adaptive__img {
    display: none;
}
.advice__title {
    display: flex;
    gap: 62px;
    align-items: center;
}
.advice__title h3 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
}
.advice p {
    margin: 39px 0 21px 0;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}
.advice__description {
    display: flex;
    gap: 28px;
    align-items: center;
    text-transform: uppercase;
}
.line {
    display: none;
}
.map__wrapper {
    position: relative;
    width: 100%;
}      
#map {
    width: 100%;
    height: 400px;
}     
.map__address {
    position: absolute;
    display: flex;
    gap: 87px;
    align-items: center;
    top: 95px;
    left: 110px;
    background: #FFF;
    padding: 60px 80px;
    z-index: 1000;
}
.map__address h3{
    max-width: 155px;
    font-size: 20px;
    line-height: 21px;
    color: #111111;
    letter-spacing: 0px;
    font-weight: 400;
    text-transform: uppercase;
}
.map__description {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.map__description p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    max-width: 165px;
    color: #444444;
}
#how__it__work {
    margin: 0 110px;
}
.how__work__block {
    box-sizing: content-box;
    position: relative;
    max-width: 230px;
    padding: 40px 0;
}
.green__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #68B738;
    margin-bottom: 31px;
}
.how__work__container {
    display: flex;
    justify-content: space-between;
}
.how__work__block p {
    color: #444444;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
}
.how__work__block span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 280px;
    line-height: 280px;
    color: #F2F2F2;
    z-index: -1;
}
#living__example {
     position: relative;
}
.example__title {
    margin: 69px 0 76px 110px;
}
.living__example__container {
    background-color: #F2F2F2;
    padding: 70px 0 75px 110px;
}
.example__description {
    max-width: 436px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Arial';
    color: #444444;
}
.stats {
    margin: 69px 0 75px 0;
    display: flex;
    gap: 30px;
}
.stats__container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
}
.stat__item {
    width: 162px;
    text-align: center;
    padding: 15px 0 25px 0;
    position: relative;
    border: 1px solid #CDCDCD;
}
.stat__value {
    font-size: 30px;
    line-height: 37px;
}
.stat__caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #F2F2F2;
    z-index: 1;
    color: #444444;
    text-transform: lowercase;
    font-size: 14px;
    line-height: 14px;
}
.stats__container {
    font-size: 20px;
    text-transform: uppercase;
}
.comparison {
    position: absolute;
    top: 0;
    right: 70px;
    width: 690px;
    font-family: Arial, sans-serif;
}
.comparison__container {
    position: relative;
    width: 100%;
    height: 536px;
    overflow: hidden;
}
.comparison__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}
.image_after {
    z-index: 1;
    object-position: center center;
}
.comparison__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.image_before {
    object-position: left center;
}
.comparison__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 14px;
}
.comparison__slider span {
    font-size: 20px;
    line-height: 30px;
}
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 6px;
    background: #ddd;
    outline: none;
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background:
        radial-gradient(circle at center, #00b347 5px, transparent 6px),
        #fff;
    border: 2px solid #999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-top: -8px;
}
.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background:
        radial-gradient(circle at center, #00b347 5px, transparent 6px),
        #fff;
    border: 2px solid #999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1439px) {
    header {
        padding: 24px 30px;
    }
    nav ul li a {
        font-size: 18px;
        line-height: 24px;
        color: #000;
    }
    .catLogo {
        height: 52px;
        width: auto;
    }
    .catEnergyLogo {
        height: 18px;
        width: auto;
    }
    .active {
        border-bottom: 2px solid #68B738;
    }
    .background__image { 
        display: none;
    }
    .nutrition__container {
        width: auto;
        margin-top: 140px;
        padding-left: 117px;
    }
    .nutrition__container h2 {
        max-width: 414px;
    }
    .nutrition__image {
        top: 341px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    footer {
        padding: 60px 30px;
    }
    .advices {
        margin: 526px 30px 45px 30px;
        flex-direction: column;
        gap: 30px;
    }
    .advice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .adaptive__img {
        display: block;
        height: 200px;
        width: auto;
    }
    .advice__container {
        max-width: 377px;
    }
    .start__img {
        display: none;
    }
    .map__address {
        position: static;
        justify-content: space-between;
    }
    #how__it__work {
        margin: 0 30px;
    }
    .how__work__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    header {
        padding: 11px 20px;
        position: relative;
    }
    .logo {
        width: 100%;
        justify-content: space-between;
    }
    .catLogo {
        height: 37px;
    }
    .catEnergyLogo {
        height: 18px;
    }
    .burger {
        display: flex;
    }
    nav {
        display: none;
    }
    .nutrition__container {
        padding-left: 0;
        margin-top: 26px;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .nutrition__container h2 {
        margin: 0 auto;
        font-size: 36px;
        line-height: 36px;
        color: #fff;
    }
    .nutrition__image {
        position: static;
        transform: none;
        width: 280px;
        height: auto;
        margin: 0 auto;
    }
    .background__image {
        display: block;
        position: absolute;
        width: 100%;
        z-index: -2;
    }
    .nutrition__container p {
        color: #FFF;
        font-size: 14px;
        line-height: 14px;
    }
    button {
        width: 280px;
        margin: 0 auto;
    }
    footer {
        padding: 39px 20px 22px 20px;
        flex-direction: column;
    }
    .footer__line {
        display: block;
    }
    .advices {
        margin: 22px 20px 27px 20px;
        gap: 20px;
    }
    .advice {
        padding: 20px;
    }
    .adaptive__img {
        display: none;
    }
    .advice__container {
        max-width: none;
    }
    .start__img {
        display: block;
        height: 50px;
    }
    .advice__title {
        gap: 13px;
    }
    .advice__title h3{
        font-size: 24px;
    }
    .advice p {
        margin-top: 22px;
    }
    .line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #D9D9D9;
        margin: 23px 0 15px 0;
    }
    .map__address {
        padding: 28px 19px;
        gap: 0;
    }
    .map__address h3{
        font-size: 16px;
        max-width: 140px;
    }
    .map__description {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .map__description p {
        font-size: 14px;
    }
    #how__it__work {
        margin: 0 20px;
    }
    #how__it__work h2 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 38px;
    }
    .how__work__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;  
    }
    .how__work__block {
        width: 100%;
        display: flex;
        gap: 20px;
        max-width: none;
        padding: 0;
    }
    .how__work__block p { 
        font-size: 14px;
        line-height: 18px;
    }
    .how__work__block span {
        display: none;
    }
    .green__container {
        height: 60px;
        width: 60px;
        min-width: 60px;
        margin-bottom: 0;
    }
}