
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 110px;
    background-color: #F2F2F2;
}
.footer__line {
    display: none;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin: 20px 0;
}

footer .social__networks{
    display: flex;
    align-items: center;
    gap: 27px;
}
footer .academy__logo {
    display: flex;
    align-items: center;
    gap: 22px;
}
@media (max-width: 1439px) {
    footer {
        padding: 60px 30px;
    }
}
@media (max-width: 767px) {
    footer {
        padding: 39px 20px 22px 20px;
        flex-direction: column;
    }
    .footer__line {
        display: block;
    }
}