
header {
    padding: 53px 110px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.catLogo {
    height: 59px;
    width: auto;
}
.catEnergyLogo {
    height: 21px;
    width: auto;
}
.burger {
    display: none;
    flex-direction: column;
    gap: 8px;
}
.burger__line {
    width: 24px;
    height: 1px;
    background-color: #000;
}
nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    color: #FFF;
}
.active {
    border-bottom: 2px solid #FFF;
}
@media (max-width: 1439px) {
    header {
        padding: 24px 30px;
    }
    nav ul li a {
        font-size: 18px;
        line-height: 24px;
        color: #000;
    }
    .catLogo {
        height: 52px;
        width: auto;
    }
    .catEnergyLogo {
        height: 18px;
        width: auto;
    }
    .active {
        border-bottom: 2px solid #68B738;
    }
}
@media (max-width: 767px) {
    header {
        padding: 11px 20px;
        position: relative;
    }
    .logo {
        width: 100%;
        justify-content: space-between;
    }
    .catLogo {
        height: 37px;
    }
    .catEnergyLogo {
        height: 18px;
    }
    .burger {
        display: flex;
    }
    nav {
        display: none;
    }
}