
#how__it__work {
    margin: 0 110px;
}
.how__work__block {
    box-sizing: content-box;
    position: relative;
    max-width: 230px;
    padding: 40px 0;
}
.green__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #68B738;
    margin-bottom: 31px;
}
.how__work__container {
    display: flex;
    justify-content: space-between;
}
.how__work__block p {
    color: #444444;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
}
.how__work__block span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 280px;
    line-height: 280px;
    color: #F2F2F2;
    z-index: -1;
}
@media (max-width: 1439px) {
    #how__it__work {
        margin: 0 30px;
    }
    .how__work__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    #how__it__work {
        margin: 0 20px;
    }
    #how__it__work h2 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 38px;
    }
    .how__work__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;  
    }
    .how__work__block {
        width: 100%;
        display: flex;
        gap: 20px;
        max-width: none;
        padding: 0;
    }
    .how__work__block p { 
        font-size: 14px;
        line-height: 18px;
    }
    .how__work__block span {
        display: none;
    }
    .green__container {
        height: 60px;
        width: 60px;
        min-width: 60px;
        margin-bottom: 0;
    }
}