.map__wrapper {
    position: relative;
    width: 100%;
}      
#map {
    width: 100%;
    height: 400px;
}     
.map__address {
    position: absolute;
    display: flex;
    gap: 87px;
    align-items: center;
    top: 95px;
    left: 110px;
    background: #FFF;
    padding: 60px 80px;
    z-index: 1000;
}
.map__address h3{
    max-width: 155px;
    font-size: 20px;
    line-height: 21px;
    color: #111111;
    letter-spacing: 0px;
    font-weight: 400;
    text-transform: uppercase;
}
.map__description {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.map__description p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    max-width: 165px;
    color: #444444;
}
@media (max-width: 1439px) {
    .map__address {
        position: static;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    .map__address {
        padding: 28px 19px;
        gap: 0;
    }
    .map__address h3{
        font-size: 16px;
        max-width: 140px;
    }
    .map__description {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .map__description p {
        font-size: 14px;
    }
}