#nutrition {
    position: relative  ;
    width: 100%;
    display: flex;
}
.nutrition__container {
    margin-top: 223px;
    padding-left: 190px;
    width: 50%;
}
.background__image { 
    width: 50%;
    height: auto;
}
.nutrition__image {
    position: absolute;
    top: 143px;
    left: calc(50% - 162px);
}
h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.5px;
}
#nutrition h2{
    max-width: 414px;
}
.nutrition__container p {
    padding-top: 40px;
    padding-bottom: 52px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
}
.nutrition__container button {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    padding: 14px 26px;
    background-color: #68B738;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0px;
}
@media (max-width: 1439px) {
    .background__image { 
        display: none;
    }
    .nutrition__container {
        width: auto;
        margin-top: 140px;
        padding-left: 117px;
    }
    .nutrition__container h2 {
        max-width: 414px;
    }
    .nutrition__image {
        top: 341px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}
@media (max-width: 767px) {
    .nutrition__container {
        padding-left: 0;
        margin-top: 26px;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .nutrition__container h2 {
        margin: 0 auto;
        font-size: 36px;
        line-height: 36px;
        color: #fff;
    }
    .nutrition__image {
        position: static;
        transform: none;
        width: 280px;
        height: auto;
        margin: 0 auto;
    }
    .background__image {
        display: block;
        position: absolute;
        width: 100%;
        z-index: -2;
    }
    .nutrition__container p {
        color: #FFF;
        font-size: 14px;
        line-height: 14px;
    }
    button {
        width: 280px;
        margin: 0 auto;
    }
}