@font-face {
    font-family: 'Oswald';
    src: url(../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald';
}
header {
    padding: 53px 110px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.catLogo {
    height: 59px;
    width: auto;
}
.catEnergyLogo {
    height: 21px;
    width: auto;
}
nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    color: #FFF;
}


#nutrition {
    position: relative  ;
    width: 100%;
    display: flex;
}
.nutrition__container {
    margin-top: 223px;
    padding-left: 190px;
    width: 50%;
}
.background__image { 
    width: 50%;
    height: auto;
}
.nutrition__image {
    position: absolute;
    top: 143px;
    left: calc(50% - 162px);
}
h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0%;
}
.nutrition__container p {
    padding-top: 40px;
    padding-bottom: 52px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
}
.nutrition__container button {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    padding: 14px 26px;
    background-color: #68B738;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0%;
}